<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   
    <link rel="stylesheet" href="css/cartStyle.css">
    <link rel="Shortcut Icon" type="image/png" href="images/favicon.png">
    <style>
      .cart-item-image {
        width: 100px;
        height: 150px;
        margin-right: 20px;
      }
      
      .cart-item-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
    
<!-- header section starts  -->

<header class="header">

  <section class="header-1">

      <a href="/" class="logo"> <i class="fas fa-book"></i> READy </a>

      <form action="/search" method="get" class="search-form">
        <input type="search" name="keyword" placeholder="search by book name" id="search-box">
        <button type="submit">
          <label for="search-box" class="fas fa-search"></label>
        </button>
    </form>

      <div class="icons">
          <div id="search-btn" class="fas fa-search"></div>
          <a href="wishlist" class="fas fa-heart"></a>
          <a href="cart" class="fas fa-shopping-cart"></a>
          <% try{ %>
            <% if(user.email != undefined) {%>
              <a id="login-btn" class="#" href="/logout">
                Sign Out
              </a> <!-- Because of ejs these has to be changed... from login.ejs to just login -->
          <% } else {%> 
            <a id="login-btn" class="#" href="/login">
              Sign In
            </a>
            <% }} catch { %> 
              <a id="login-btn" class="#" href="/login">
                Sign In
              </a>
              <% } %>
      </div>
      </div>

  </section>

  <div class="header-2">
      <nav class="navbar">

        <a href="/">HOME</a>
        <a href="/">ABOUT US</a>
        <a href="books">BOOKS</a>
        <a href="/">NEW REALSES</a>
        <a href="/">BEST SALES</a>
        <a href="contactUs">CONTACT US</a>
      </nav>
  </div>

</header>

<!-- header section ends -->

<!-- cart section starts -->

  <div class="container">
    <h1>Shopping Cart</h1>
    <hr class="hr-content">
    <div class="cart-items">
      <% orders.forEach(book => { %>
      <div class="cart-item">
        <div class="cart-item-image"><img src="<%= book.imgSrc %>" alt="Product image"></div>
        <div class="cart-item-info">
          <!-- <p class="cart-item-category"><%= user.name %></p> -->
          <p class="cart-item-name"><%= book.nameOfBook %></p>
          <p class="cart-item-price">$<%=book.priceOfBook %></p>
          <div class="cart-item-quantity">
            <button class="quantity-btn minus-btn">-</button>
            <input type="text" class="quantity-input" value="1">
            <button class="quantity-btn plus-btn">+</button>
          </div>
        </div>
        <div class="cart-item-remove">
          <form action="/delete" method="post">
          <input type="hidden" name="user" value="<%= user.email %>">
          <input type="hidden" name="book_name" value="<%=book.nameOfBook%>">
          <button class="remove-btn" type="submit">Remove</button>
          </form>
        </div>
        
      </div>
      <% }) %>

    </div>
    <hr class="hr-content">
    <div class="cart-shipping">
        <p>Shipping: $20</p>
        <div class="book-type">
          <p>Book type:</p>
          <label><input type="radio" name="book-type" value="physical" > Physical book</label>
          <label><input type="radio" name="book-type" value="ebook" checked> E-book</label>
          
        </div>
      </div>
      <div class="cart-total">
        <p>Total: $<%= var1.toFixed(2) %></p>
        <button id="credit-card-button">Purchase</button>
        <div id="credit-card-modal">
          <div class="modal-header">
            <div class="close">&#10006;</div>
          </div>
          <form action="" method="post">
            <div class="names-fields">
              <div class="name-field">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" required>
              </div>
              <div class="name-field">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" required>
              </div>
            </div>
      
            <label for="card-number">Card Number:</label>
            <input type="text" id="card-number" name="card-number" required>
      
            <div class="expiry-date-fields">
              <div class="expiry-field">
                <label for="expiry-month">Expiry Month:</label>
                <input type="text" id="expiry-month" name="expiry-month" maxlength="2" placeholder="MM" required>
              </div>
              <div class="expiry-field">
                <label for="expiry-year">Expiry Year:</label>
                <input type="text" id="expiry-year" name="expiry-year" maxlength="2" placeholder="YY" required>
              </div>
            </div>
            
            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" maxlength="3" required>
        
            <button type="submit" id="submit-payment-button" disabled>Submit Payment</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- cart section ends  -->

<!-- footer section starts  -->

<section class="footer">


    <div class="credit"> created by <span>SWE363 Students</span> | all rights reserved! </div>

</section>

<!-- footer section ends -->


<!-- custom js file link  -->
<script src="js/script.js"></script>

<!-- add closing button for modal -->
<style>
.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close {
  font-size: 24px;
  cursor: pointer;
}
</style>

<script>
// toggle visibility of modal and add event listener for close button
const modal = document.getElementById("credit-card-modal");
const closeBtn = document.querySelector(".modal-header .close");



closeBtn.addEventListener("click", () => {
  modal.style.display = "none";
  console.log('Hello')
});
</script>

</body>
</html>